[worldserver]

########################################
# mod-ollama-bot-buddy configuration
########################################

# OllamaBotControl.Enable
#     Description: Enable or disable the Ollama Bot Control module.
#     Default:     1 (true)
OllamaBotControl.Enable = 1

# OllamaBotControl.Url
#     Description: The URL used to query the Ollama API for bot command generation.
#     Default:     http://localhost:11434/api/generate
OllamaBotControl.Url = http://localhost:11434/api/generate

# OllamaBotControl.Model
#     Description: The model identifier to be used in the Ollama API request.
#     Default:     llama3.2:1b
OllamaBotControl.Model = llama3.2:1b

# OllamaBotControl.Debug
#     Description: Enable or disable verbose debug logs for Ollama Bot Buddy.
#     Default:     0 (false)
#     0 = disabled, 1 = enabled
OllamaBotControl.Debug = 0

# OllamaBotControl.EnableBotBuddyAddon
#     Description: Enable or disable sending the bot state to the Bot Buddy addon for Ollama Bot.
#     Default:     0 (false)
#     0 = disabled, 1 = enabled
OllamaBotControl.EnableBotBuddyAddon = 0